{% extends "base.html" %}

{% block content %}

<div class="hero-body">
  <div class="container has-text-centered">
    <h1 class="title">
      Hey, {{ current_user.name }}!
    </h1>
    <h2 class="subtitle">
      Shoutout to me fellow Rebels
    </h2>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function () {
    {% for task in tasks %}
    $('#github_chart_{{ task.id }}').github_graph({
      //Generate random entries from 50-> 200 entries
      data: [{% for item in task.event_timestamps %}{{ item }}, {% endfor %}],
      texts: ['completed task', 'completed tasks']
    });
    {% endfor %}
  });
</script>



<div class="container">
  {% for task in tasks: %}
  <div class="box">
    <div class="tile">
      <div class="tile">
        <div class="box">
          <div class="content is-large">
            {{ task.name }}
          </div>
          <div class="tile">
            <div class="tile">
              <form method="POST" action="/finished_task">
                <div class="field">
                  <div class="control">
                    <input class="input" type="hidden" name="task_id" value={{ task.id }}>
                  </div>
                </div>
                <button class="button is-rounded is-large is-primary is-outlined">Done</button>
              </form>
            </div>
            <div class="tile">
              <form method="POST" action="/finished_task">
                <div class="field">
                  <div class="control">
                    <input class="input" type="hidden" name="task_id" value={{ task.id }}>
                  </div>
                </div>
                <button class="button is-rounded is-large is-danger is-outlined" disabled>Edit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="tile">
        <div class="box">
          <div id="github_chart_{{ task.id }}"></div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}